<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sit21c.common.mapper.CommonMapper">
	<select id="selectComCode" parameterType="String" resultType="com.sit21c.common.vo.ComCodeVo">
		/*공통코드 조회*/
		SELECT CODE_NO
			 , CODE_TYPE
			 , CODE_NAME
			 , CODE_VALUE
		FROM TB_COM_CODE
		WHERE 1=1
		AND   CODE_TYPE = #{code}
	</select>
	
	<!-- 파일정보 조회 -->
	<select id="selectFileInfo" parameterType="int" resultType="com.sit21c.common.vo.AttchFileVo">
		SELECT FILE_ID
			 , FILE_NAME
			 , FILE_PATH
			 , FILE_SIZE
			 , FILE_TYPE
			 , UPLOAD_DATE
			 , FILE_ORG_NAME
		FROM TB_ATTCH
		WHERE FILE_ID = #{fileId}
	</select>
</mapper>