<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sit21c.recruit.mapper.RecruitMapper">

	<select id="test" parameterType="map" resultType="com.sit21c.common.CamelCaseMap">
		SELECT T1
			 , T2
			 , T_TT3
	    FROM TEST
	</select>
	
	<!-- 파일정보 -->
	<insert id ="insertAttchFile" parameterType="com.sit21c.common.vo.AttchFileVo" useGeneratedKeys="true" keyProperty="fileId">
		INSERT INTO tb_attch (file_name
							, file_path
							, file_size
							, file_type
							, upload_date)
    	VALUES (#{fileName}
    		  , #{filePath}
    	  	, #{fileSize}
    	  	, #{fileType}
    	  	, now())
    	RETURNING file_id
	</insert>
	
	<!-- 입사지원 -->
	<insert id="insertRecruitmentApply" parameterType="com.sit21c.recruit.vo.RecruitmentApplyVo">
		INSERT INTO applications ( application_job_posting_id
								 , application_cover_letter
								 , application_submitted_at
								 , application_user_nm
								 , application_tel
								 , application_email
								 , attch_file_id)
		VALUES (#{applicationJobPostingId}
			  , #{applicationCoverLetter}
			  , now()
			  , #{applicationUserNm}
			  , #{applicationTel}
			  , #{applicationEmail}
			  , #{attchFileId}
		)
		
	</insert>
</mapper>