@charset "UTF-8";
/* 로그인 섹션 스타일 */
#login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh; /* 화면 중앙에 배치되도록 설정 */
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.login-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-login:hover {
    background-color: #0056b3;
}