@charset "UTF-8";
body {
	margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.horizontal-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.horizontal-nav li {
    margin: 0 20px;
}

.horizontal-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
}

.horizontal-nav a:hover {
    background-color: #575757;
}

section {
    margin-top: 80px; /* 헤더 높이 + 여백 */
    padding: 20px;
}

#main-banner .banner-image {
    position: relative;
    text-align: center;
    color: white;
}

.banner-image img {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer-info {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}


/*form input*/
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #575757;
}










/* mmh 추가 */
.horizontal-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333;
}

.horizontal-nav li {
    position: relative;
}

.horizontal-nav a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

.horizontal-nav a:hover {
    background-color: #555;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: nowrap; /* 텍스트가 가로로 한 줄에 표시되도록 함 */
}

.dropdown-content li {
    display: inline-block;
}

.dropdown-content a {
    padding: 12px 16px;
    white-space: nowrap; /* 개별 링크에서 줄바꿈을 방지 */
}

.dropdown:hover .dropdown-content {
    display: block; /* 하위 메뉴를 가로로 한 줄에 배치 */
}
