@charset "UTF-8";
#ci {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 (필요시 사용) */
    min-height: 300px; /* 최소 높이 설정 (필요에 따라 조정) */
}

.ci-image-container {
    text-align: center;
}

.ci-image-container img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.content_title1 {
    clear: both;
    width: 18%;
    margin: 0 auto;
    padding: 20px 10px 5px 10px;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #a5a5a5;
    margin-bottom: 30px;
}