@charset "UTF-8";
.infraService-image-container {
    text-align: center;
}

.infraService-image-container img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    margin-top:55px;    
}