@charset "utf-8";
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 400;
  src: url(../font/NanumGothicRegular.eot),
        url(../font/NanumGothicRegular.eot?#iefix) format('embedded-opentype'),
        url(../font/NanumGothicRegular.woff2) format('woff2'),
        url(../font/NanumGothicRegular.woff) format('woff'),
        url(../font/NanumGothicRegular.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  src: url(../font/NanumGothicBold.eot),
        url(../font/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
        url(../font/NanumGothicBold.woff2) format('woff2'),
        url(../font/NanumGothicBold.woff) format('woff'),
        url(../font/NanumGothicBold.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 800;
  src: url(../font/NanumGothicExtraBold.eot),
       url(../font/NanumGothicExtraBold.eot?#iefix) format('embedded-opentype'),
       url(../font/NanumGothicExtraBold.woff2) format('woff2'),
       url(../font/NanumGothicExtraBold.woff) format('woff'),
       url(../font/NanumGothicExtraBold.ttf) format('truetype');
}
body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,address,ul,ol,li,dl,dt,dd,table,caption,th,td,form,fieldset,legend,hr,select,input,textarea{font-family:'NanumGothic',NanumGothic,'Nanum gothic', 'nanumgothic','돋움',"맑은 고딕","Malgun Gothic","Helvetica Neue","Helvetica",verdana,sans-serif;margin:0;padding:0;font-size:13.34px;color:#585858;line-height:170%;}
ul,ol{list-style:none;}
table{margin:0;padding:0;border-spacing:0;border:0;_border-collapse:collapse;width:100%;}
*+html table{border-collapse:collapse;}
img,fieldset,abbr,acronym{border:0;}
address,caption,cite,code,dfn,var{font-style:normal;font-weight:normal;}
em{font-style:normal;}
input, button,textarea{padding:0;color:#585858;font-size:100%;}
table{border-collapse:collapse;border-spacing:0}
table,table th,table td{border:0;}
hr{display:none}
a{color:#585858;text-decoration:none;}
img{vertical-align:middle;}
body{background-color:#fff;}
caption,legend{position:absolute;top:0;left:0;width:0;height:0;line-height:0;overflow:hidden;visibility:hidden;font-size:0;}
.hidden{display:none}
.gLeft{float:left;}
.gRight{float:right;}
/* useful */
.hide {position:absolute; left:-9999px; overflow:hidden; width:1px; height:1px; line-height:1px; font-size:1px;}
caption {position:static; overflow:hidden; width:1px; height:1px; margin:0; padding:0; font-size:1px; text-indent:-9999px;}
.clearfix:after {content:""; display:block; width:0; height:0; font-size:0; clear:both;}

#skipnavigation{position:relative;z-index:110;}
#skipnavigation .skip{position:absolute;top:0;left:0;}
#skipnavigation a{ display:block; height:1px; width:1px; margin-bottom:-1px; overflow:hidden; text-align:center; color:#000; white-space:nowrap;}
#skipnavigation a:focus,
#skipnavigation a:active { height:auto; width:auto; padding:5px; margin-bottom:10px;}

a#topBtn {border-radius: 2px; background:#3f66a8; padding:3px 10px; color:#fff; font-size:16px; position: fixed; /* 포지션 고정 */ 
right:15%; /* 오른쪽에서 2% - %도 할수 있음*/ bottom: 60px; /* 밑에서 5px */ display: none; /* 보여지지 없음 - 기본적으로 안보여지게 */ z-index: 9999; /* 포지션을 먼저 지정후 z-좌표(레이어) : 9999입니다. */ border:1px solid #3f66a8; } 


.color_w{color:#fff; line-heiht:12px; font-size:14px;}
.mgt_20{margin-top:20px;}

